* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.mshb-font {
    font-family: 'Fredericka the Great', cursive, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

  /* =================================
        LINK STYLES
    ================================= */

    a:link {
        color: red;
        text-decoration: none;
    }

    a:visited {
        color: red;
    }

/* ==============================================================

        NAVIGATION

 =============================================================== */

.navigation {
    visibility: hidden;
    position: fixed;
}

.menu-button {
    visibility: hidden;
}

#navigation2 {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#navigation2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFF;
    color: white;
    height: 100px;
}

#navigation2 ul a {
    padding: 10px;
}

ul.SM {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.FB-logo {
    width: 25px;
}

.T-logo {
    width: 32px;
}

.I-logo {
    width: 25px;
}


/* ==============================================================

        MAIN HEADER

 =============================================================== */

.main-header {
    height: 600px;
    background:  #fff url(/images/home-office-5.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

ul {
    display: inline-block;
    list-style: none;
    height: 50px;
    margin: 0;
    padding: 0;
}

.name {
    padding-top: 175px;
    text-align: center;
}

.logo {
    margin: auto;
    width: 50px;
}

h1 {
    font-family: 'Fredericka the Great', cursive, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #FFF;
    margin: 5px;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

#intro {
    text-align: left;
}

.intro-div {
    width: 90%;
    margin: 20px auto;
}

/* ==============================================================

        CONTENT

 =============================================================== */

p {
    padding: 10px;
    font-size: 16px;
    margin: 0;
}

/* ---------------------------------------------------------------
        Second parallax image
---------------------------------------------------------------- */

#basics {
    text-align: left;
}

.basics-img {
    height: 300px;
    background:  #fff url(/images/options.jpg) no-repeat center;
    background-size: 425px;
    margin: 0;
    padding: 0;
}

#basics-div {
    width: 90%;
    margin: 0 auto;
}

#basics-h2 {
    padding-top: 50px;
    font-size: 24px;
}

#basics-text {
    margin: 10px;
}

.customer {
    height: 300px;
    background:  #fff url(/images/receipt.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

.customer-h3 {
    line-height: 300px;
    font-size: 32px;
}

a.mobile-link {
	color: red;
	text-decoration: none;
}

.hover-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(239, 9, 9, .75);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.customer:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.business {
    height: 300px;
    background:  #fff url(/images/business-strategy.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

.business-h3 {
    line-height: 300px;
    font-size: 32px;
}

.business:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.desc {
    padding: 140px 20px 20px;
    text-align: center;
}

.ancient {
    text-align: center;
}


/* ---------------------------------------------------------------
        Third parallax image
---------------------------------------------------------------- */

#about {
    text-align: left;
}

#about-text {
    margin: 10px auto;
    width: 90%;
}

.about-img {
    height: 600px;
    background:  #fff url(https://mysimplehomebusiness.files.wordpress.com/2016/12/cropped-family-6.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#about-h2 {
    font-size: 24px;
    padding-top: 50px;
}

.about-div {
    width: 100%;
    margin: 0 auto;
}

#cassie-about {
    height: 335px;
    background: #fff url(/images/Cassie-img.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

#cassie-about:hover
.hover-text {
    visibility: visible;
    opacity: 1;
}

.c-bio {
    padding: 20px;
    text-align: center;
}

#ryan-about {
    height: 335px;
    background: #fff url(/images/ryan-img-2.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

#ryan-about:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.r-bio {
    padding: 65px 20px;
    text-align: center;
}

.white-box {
    height: 50px;
    clear: both;
}



/* ---------------------------------------------------------------
        Fourth parallax image
---------------------------------------------------------------- */

#contact {
    text-align: center;
}

.contact-img {
    height: 300px;
    background:  #fff url(/images/Contact-us-1.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#contact-h2 {
    padding-top: 50px;
    font-size: 24px;
}

#contact-div {
    width: 100%;
}

.contact-intro {
    width: 90%;
    text-align: left;
    margin: 10px auto;
}

.contact-name-c {
    font-size: 20px;
    margin-bottom: 5px;
}

#contact-cassie {
    height: 175px;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 25px 5px 5px;
    font-size: 15px;
}

.contact-cassie-text,
.contact-ryan-text {
    line-height: 150%;
}

#contact-ryan {
    height: 175px;
    background-color: red;
    color: white;
    margin: 0;
    padding: 25px 5px 5px;
    font-size: 15px;
}

.contact-name-r {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

ul.SM-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FB-logo-f {
    width: 25px;
    padding: 5px;
}

.T-logo-f {
    width: 30px;
    padding: 5px;
}

.I-logo-f {
    width: 25px;
    padding: 5px;
}

.callTo {
    clear: both;
}

/* ==============================================================

        CUSTOMER PAGE

 =============================================================== */

.customer-header {
    height: 200px;
    background:  #fff url(/images/receipt.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.customer-h2 {
    padding: 110px 0;
    font-size: 24px;
    color: #fff;
    font-weight: 525;
}

.customer-info {
    background-color: white;
    text-align: center;
    margin: 20px 10px;
}

.customer-bullets {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list {
    padding: 20px 10px;
    height: 125px;
}

.list li {
    padding: 5px;
}

.box1 {
    background-color: black;
    color: white;
}

.box2 {
    background-color: white;
}

.box3 {
    background-color: red;
    color: white;
}

.customer-img-2 {
    height: 150px;
    background:  #fff url(/images/receipt.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.white-bottom {
    height: 100px;
    background-color: white;
}

.business-link,
.customer-link {
    padding: 35px 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Fredericka the Great', cursive, Arial, Helvetica, sans-serif;
}


/* ==============================================================

        BUSINESS PAGE

 =============================================================== */

 .business-header {
    height: 200px;
    background:  #fff url(/images/business-strategy.jpg) no-repeat center;
    background-size: 425px;
    margin: 0;
    padding: 0;
 }

 .business-h2 {
    padding-top: 125px;
    font-size: 28px;
    color: red;
    font-weight: 550;
}

.business-info {
    text-align: center;
    padding: 20px 10px;
}

.the-dos-image {
    height: 200px;
    background:  #fff url(/images/sunset-1.jpg)no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.do-title,
.dont-title,
.how-title {
    text-align: center;
    padding-top: 85px;
    font-size: 28px;
}

.the-dos-list,
.the-donts-list {
    background-color: white;
    height: 400px;
    padding: 50px 50px 50px 60px;
}

.the-dos-list li {
    padding: 10px;
}

.the-donts-image {
    height: 200px;
    background:  #fff url(/images/thunder.jpg)no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.the-donts-list li {
    padding: 10px;
}

.the-how-image {
    height: 200px;
    background:  #fff url(/images/the-path-2.jpg)no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.the-how-list {
    background-color: white;
    height: 450px;
    padding: 50px 50px 50px 60px;
}

.the-how-list li {
    padding: 10px;
}

.closing {
    background-color: red;
}

.closing-text {
    text-align: center;
    padding: 20px 10px;
}

/*.business-header-2 {
    height: 450px;
    background:  #fff url(/images/business-strategy.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}*/

/* ==============================================================

        FOOTER

 =============================================================== */

 footer {
     height: 50px;
     background-color: #000;
 }

.copyright {
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 15px;
    text-align: center;
}

/* ==============================================================

        MEDIA QUERIES

 =============================================================== */

 @media (min-width: 370px) {

    #navigation2 ul {
        height: 50px;
    }
     
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        600px x 400px

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (min-width: 600px) {

    .basics-img {
        height: 500px;
        background-size: 750px;
    }

    .business-header {
        height: 400px;
        background-size: 775px;
    }

    .business-h2 {
        padding-top: 200px;
        font-size: 44px;
    }

    .do-title,
    .dont-title,
    .how-title {
        font-size: 36px;
    }

    .the-dos-list,
    .the-donts-list {
        height: 325px;
    }

    .the-how-list {
        height: 350px;
    }

}

/* ---------------------------------------------------------------
        768px X 1024px
---------------------------------------------------------------- */
@media (min-width: 768px) {

    .main-header {
        height: 1024px;
    }

    .name {
        padding-top: 350px;
    }

    .logo {
        width: 75px;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .basics-img {
        height: 400px;
        background-size: 768px;
    }

    .customer-img {
        width: 250px;
        margin: 20px;
    }

    .about-img {
        height: 1024px;
    }

    #about-h2 {
        padding-top: 50px;
    }

    #contact-text {
        height: 150px;
        background-color: white;
        color: #000;
        margin: 0;
        padding: 50px 5px 5px;
        font-size: 20px;
    }

    #contact-text-2 {
        height: 150px;
        background-color: red;
        margin: 0;
        padding: 50px;
        font-size: 20px;
    }

    .callTo {
        clear: both;
        padding: 50px 20px;
    }

    .customer-header {
        height: 425px;
    }

    .customer-h2 {
        font-size: 36px;
    }

    .customer-img-2 {
        height: 375px;
    }

}

/* ---------------------------------------------------------------
        1024px X 768px
---------------------------------------------------------------- */

@media (min-width: 1024px) {

    .main-header {
        height: 800px;
    }

    .name {
        padding-top: 225px;
    }

    .logo {
        width: 100px;
    }

    .basics-img {
        height: 550px;
        background-size: 1024px;
    }

    .about-img {
        height: 1024px;
    }

    #navigation2 {
        visibility: hidden;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .menu-button {
        margin: 5px;
        width: 50px;
        visibility: visible;
    }

    #menu {
        font-size: 22px;
        visibility: visible;
        margin: 0;
        padding: 8px 0;
        color: white;
    }

    p {
        padding: 20px;
        line-height: 125%;
    }

    .intro-div {
        text-align: center;
    }

    .ancient {
        clear: both;
    }

    #basics {
        text-align: center;
    }

    #basics-h2 {
        padding-top: 25px;
    }

    #basics-text {
        padding-bottom: 40px;
    }

    #about-h2 {
        padding-top: 25px;
    }

    .contact-img {
        height: 400px;
    }

    #contact-h2 {
        padding-top: 25px;
    }

    #contact-text {
        float: left;
        width: 50%;
        height: 400px;
        background-color: white;
        color: black;
        margin: 0;
        padding: 150px 20px 20px;
    }

    #contact-text-2 {
        float: right;
        width: 50%;
        height: 400px;
        background-color: red;
        margin: 0;
        padding: 150px 20px 20px;
    }

    .customer {
        float: left;
        width: 50%;
    }

    .business {
        float: right;
        width: 50%;
    }

    .customer-header {
        height: 425px;
    }

    .customer-h2 {
        padding: 300px 0;
        font-size: 44px;
    }

    .customer-bullets {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .list {
        flex-grow: 1;
    }

    .business-header {
        height: 400px;
        background-size: 1030px;
    }

    .the-dos-list,
    .the-donts-list {
        height: 325px;
    }

    .the-dos-image {
        float: left;
        width: 50%;
        height: 325px;
    }

    .the-dos-list {
        float: right;
        width: 50%;
    }

    .the-donts-image {
        float: right;
        width: 50%;
        height: 325px;
    }

    .the-donts-list {
        float: left;
        width: 50%; 
    }

    .the-how-image {
        float: left;
        width: 50%;
        height: 350px;
    }

    .the-how-list {
        float: right;
        width: 50%;
    }

    .closing {
        clear: both;
    }

    .do-title,
    .dont-title {
        font-size: 42px;
        padding-top: 125px;
    }

    .how-title {
        font-size: 42px;
        padding-top: 150px;
    }

    #about-text {
        text-align: center;
        padding-bottom: 25px;
    }

    #cassie-about {
        float: left;
        width: 50%;
        height: 400px;
    }

    #ryan-about {
        float: right;
        width: 50%;
        height: 400px;
    }



 
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++
         
         COMPUTER / LARGE SCREENS 1366px X 1024px

++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (min-width: 1366px) {

/* =================================
        LINK STYLES
================================= */

    a.glow,
    a.glow:hover, 
    a.glow:focus {
        text-decoration: none;
        color: #000;
        text-shadow: none;
        -webkit-transition: 500ms linear 0s;
        -moz-transition: 500ms linear 0s;
        -o-transition: 500ms linear 0s;
        transition: 500ms linear 0s;
        outline: 0 none;
    }

    a.glow:hover, 
    a.glow:focus  {
        color: white;
        text-shadow: -1px 1px 8px #ff0000, 1px -1px 8px #ff0000;
    }

/* =============================================================

        MAIN HEADER LARGE SCREENS

 ========================================================= */
    
    .main-header {
        height: 1024px;
        background:  #fff url(/images/home-office-5.jpg) fixed no-repeat center;
        background-size: cover;
    }

    .name {
        padding-top: 200px;
    }

    #name {
        font-size: 72px;
    }

    .mshb-font {
        font-size: 75px;
    }

    .logo {
        width: 125px;
    }

/* -------------------------CONTENT------------------------*/

    p {
        font-size: 20px;
        line-height: 150%;
    }

/* =======================================================

        BASICS HEADER LARGE SCREENS

======================================================== */

    .basics-img {
        height: 450px;
         background:  #fff url(/images/options.jpg) fixed no-repeat center;
         background-size: cover;
    }

/* =======================================================

        ABOUT HEADER LARGE SCREENS

======================================================== */

    .about-img {
        height: 600px;
        background:  #fff url(https://mysimplehomebusiness.files.wordpress.com/2016/12/cropped-family-6.jpg) fixed no-repeat center;
        background-size: cover;
    }

/*=======================================================

        CONTACT HEADER LARGE SCREENS

======================================================== */

    .contact-img {
        height: 400px;
        background:  #fff url(/images/Contact-us-1.jpg) fixed no-repeat center;
        background-size: cover;
    }

/* ----------------------------------------------------- */

    #contact-text {
        background-color: white;
        color: black;
        margin: 0;
        padding: 150px 20px 20px;
        font-size: 26px;
    }

    #contact-text-2 {
        height: 400px;
        background-color: red;
        margin: 0;
        padding: 150px 20px 20px;
        font-size: 26px;
    }

    .list {
        font-size: 20px;
        padding: 20px 10px;
        height: 300px;
    }

    .list li {
        padding: 25px;
    }

/*=======================================================

        CUSTOMER HEADER LARGE SCREENS

======================================================== */

    .customer-header {
        height: 600px;
        background:  #fff url(/images/receipt.jpg) fixed no-repeat center;
        background-size: cover;
    }



/*=======================================================

        BUSINESS HEADER LARGE SCREENS

======================================================== */

    .business-header {
        height: 600px;
        background:  #fff url(/images/business-strategy.jpg) fixed no-repeat center;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

/* ----------------------------------------------------- */

    .business-h2 {
        padding-top: 300px;
    }

    .the-dos-image {
        float: left;
        width: 50%;
    }

    .the-dos-list {
        float: right;
        width: 50%;
        height: 325px;
        padding: 35px 5px 20px 100px;
    }

    .the-donts-image {
        float: right;
        width: 50%;
    }

    .the-donts-list {
        float: left;
        width: 50%;
        height: 325px;
        padding: 35px 5px 20px 100px;
    }

    .the-how-image {
        float: left;
        width: 50%;
    }

    .the-how-list {
        float: right;
        width: 50%;
        height: 300px;
        padding: 40px 5px 10px 50px;
    }

    .closing {
        clear: both;
        padding: 30px 20px;
    }

    .closing-text {
        padding: 0;
        margin: 0;
    }

    .business-link,
    .customer-link {
        font-size: 24px;
    }

}

/* -------------------------------------------------------
        
        1440px X 900px

---------------------------------------------------------- */
@media (min-width: 1440px) {
    
    .main-header {
        height: 900px;
    }

    .name {
        padding-top: 250px;
    }

    #name {
        font-size: 85px;
    }

    .mshb-font {
        font-size: 85px;
    }

    .logo {
        width: 125px;
    }

    .FB-logo-f {
        width: 40px;
        padding: 20px 5px;
    }

    .T-logo-f {
        width: 50px;
        padding: 20px 5px;
    }

    .I-logo-f {
        width: 40px;
        padding: 20px 5px;
    }

    footer {
        height: 150px;
    }

    .copyright {
        margin-top: 10px;
        padding-top: 20px;
        font-size: 18px;
    }

     ul.SM-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    #menu {
        font-size: 24px;
        padding: 5px 0;
    }

}

/* ---------------------------------------------------------------
        1600px
---------------------------------------------------------------- */

@media (min-width: 1600px) {

    #name {
        font-size: 100px;
    }
}

/* ---------------------------------------------------------------
        1850px
---------------------------------------------------------------- */
@media (min-width: 1850px) {

    .main-header {
        height: 1080px;
    }

    .name {
        padding-top: 300px;
    }

    .logo {
        width: 150px;
    }

    p {
        font-size: 24px;
    }

    .about-img {
        height: 1080px;
    }

    #basics-h2 {
        padding-top: 25px;
        font-size: 44px;
    }

    #basics-text {
        font-size: 22px;
    }

    #about-h2 {
        padding-top: 25px;
        font-size: 44px;
    }

    #contact-h2 {
        padding: 50px;
        font-size: 44px;
    }

    #contact-text {
        font-size: 32px;
    }

    #contact-text-2 {
        font-size: 32px;
    }

    .list {
        font-size: 24px;
    }

    .the-how-list {
        float: right;
        width: 50%;
        height: 300px;
        padding: 40px 5px 10px 100px;
    }

    #cassie-about,
    #ryan-about {
        height: 550px;
    }

}

/* ---------------------------------------------------------------
        2500px
---------------------------------------------------------------- */

@media (min-width: 2500px) {

    .main-header {
        height: 1440px;
    }

    .name {
        padding-top: 500px;
    }

    #name {
        font-size: 125px;
    }

    .logo {
        width: 250px;
    }


}

