* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.mshb-font {
    font-family: 'Love Ya Like A Sister', cursive;
}

/* ==============================================================

        MAIN HEADER

 =============================================================== */

.main-header {
    height: 990px;
    background:  #fff url(https://mysimplehomebusiness.files.wordpress.com/2016/12/cropped-family-6.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

ul {
    display: inline-block;
    list-style: none;
    height: 50px;
    margin: 0;
    padding: 0;
}

.navigation {
    position: fixed;
}

.menu-button {
    margin: 5px;
    width: 50px;
}

.name {
    padding-top: 400px;
    text-align: center;
}

.logo {
    margin: auto;
    width: 100px;
}

h1 {
    color: #fff;
    padding-top: 25px;
    margin: 0;
}


/* ==============================================================

        MEDIA QUERIES

 =============================================================== */

/* ---------------------------------------------------------------
        1900px
---------------------------------------------------------------- */
@media (min-width: 1900px) {

    .main-header {
        height: 990px;
    }


}

/* ---------------------------------------------------------------
        1438px
---------------------------------------------------------------- */
@media (min-width: 1438px) {
    
    .main-header {
        height: 805px;
    }

}


/* ---------------------------------------------------------------
        1150px
---------------------------------------------------------------- */
@media (min-width: 1150px){


}

/* ---------------------------------------------------------------
        768px
---------------------------------------------------------------- */