* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-header {
    height: 990px;
    background:  #fff url(https://mysimplehomebusiness.files.wordpress.com/2016/12/cropped-family-6.jpg) no-repeat center;
    background-size: cover;
}


ul {
    display: inline-block;
    list-style: none;
    height: 50x;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 250px;
}

.menu-button {
    margin: 5px;
    width: 50px;
}

.homeLogo {
    width: 30px;
    margin: 5px;
}

/* ==============================================================

        MEDIA QUERIES

 =============================================================== */

/* ---------------------------------------------------------------
        1900px
---------------------------------------------------------------- */
@media (min-width: 1900px) {

    .main-header {
        height: 990px;
    }


}

/* ---------------------------------------------------------------
        1438px
---------------------------------------------------------------- */
@media (min-width: 1438px) {
    
    .main-header {
        height: 805px;
    }

}


/* ---------------------------------------------------------------
        1150px
---------------------------------------------------------------- */
@media (min-width: 1150px){


}

/* ---------------------------------------------------------------
        768px
---------------------------------------------------------------- */