<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- STYLESHEET LINKS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sidenav.css">

        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Love+Ya+Like+A+Sister" rel="stylesheet">


    <!-- PAGE TITLE -->
    <title> Preferred Customer | My Simple Home Business</title>

</head>
<body>
    <!-- Slide out Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="../index.html" class="glow">Home</a>
        <a href="../#basics-h2" class="glow">Basics</a>
        <a href="../#about-h2" class="glow">About</a>
        <a href="../#contact-h2" class="glow">Contact</a>
        <!--<a href="#">Reviews</a>-->
        <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">Blog</a>
        <ul class="SM">
            <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo"></a></li>
            <li><a href="#"><img src="../images/icons/red-twitter.png" class="T-logo"></a></li>
            <li><a href="#"><img src="../images/icons/instagram-red.png" class="I-logo"></a></li>
        </ul>
    </div>

    <!-- Use any element to open the sidenav
   <span onclick="openNav()">open</span> -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <header>

            <div class="navigation"> <!-- Slide out Navi Access -->
                <ul> <!-- button for navi -->
                    <li><img src="../images/icons/Menu_Icon_3.png" onclick="openNav()" class="menu-button"></li>
                    <li><p class="mshb-font" id="menu">MENU</p></li>
                </ul>
            </div>

            <div id="navigation2">
                    <ul>
                        <a href="../index.html?#basics-h2" class="glow">Basics</a>
                        <a href="../index.html?#about-h2" class="glow">About</a>
                        <a href="../index.html?#contact-h2" class="glow">Contact</a>
                        <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">Blog</a>
                        <a href="../views/resources.html">Resources</a>
                    </ul>
            </div>
        
        </header>

            <!-- Customer page info starts here -->

            <div class="customer-header">
                <h2 class="mshb-font customer-h2">PREFERRED CUSTOMER</h2>
            </div>

            <div class="customer-info">
                <p>Welcome to the Customer side of My Simple Home Business! Here we will give a brief overview of the benefits of being a <font color="red">Preferred Customer</font> of the company that we represent. Unfortunately, due to legal and marketing restrictions, we cannot go into detail about the company itself on this site. However, we would love to schedule a webinar or in home meeting to do so at your earliest convenience!</p>
            </div>

            <div class="customer-bullets">
                <ul class="list box1">
                    <li>- All natural products</li>
                    <li>- Safe for your home and the environment</li>
                    <li>- Simply replace what you currently buy</li>
                </ul>
                <ul class="list box2">
                    <li>- 30-50% discount on products</li>
                    <li>- NO RISK - 100% Satisfaction Guarantee</li>
                    <li>- Delivered directly to your front door</li>
                </ul>
                <ul class="list box3">
                    <li>- Over 400 products</li>
                    <li>- MADE IN AMERICA</li>
                    <li>- Monthly budget stays about the same</li>
                </ul>
            </div>

            <div class="white-bottom">
                <p class="business-link"><a href="business.html" class="glow">THE BUSINESS SIDE ></a></p>
            </div>

            <div class="customer-header"></div>


        <footer>
            
            <ul class="SM-bottom">
                <a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo-b"></a>
                <a href="#"><img src="../images/icons/media.png" class="YT-logo-b"></a>
                <a href="#"><img src="../images/icons/instagram-red.png" class="I-logo-b"></a>
            </ul>

            <div>
                <p class="copyright">&copy; 2017 -- Echor Digital Solutions</p>
            </div>

        </footer>

    </div>
    <script src="../js/sidenav.js"></script>
</body>
</html>