<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- STYLESHEET LINKS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sidenav.css">

        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Love+Ya+Like+A+Sister" rel="stylesheet">


    <!-- PAGE TITLE -->
    <title>Customer | My Simple Home Business</title>

</head>
<body>
    <!-- Slide out Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="../index.html">Home</a>
        <a href="#basics-h2">Basics</a>
        <a href="#about-h2">About</a>
        <a href="#contact-text">Contact</a>
        <a href="#">Reviews</a>
        <a href="#">Blog</a>
        <ul class="SM">
            <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo"></a></li>
            <li><a href="#"><img src="..//images/icons/red-twitter.png" class="T-logo"></a></li>
            <li><a href="#"><img src="..//images/icons/instagram-red.png" class="I-logo"></a></li>
        </ul>
    </div>

    <!-- Use any element to open the sidenav
   <span onclick="openNav()">open</span> -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <header class="customer-header">

            <div class="navigation"> <!-- Slide out Navi Access -->
                <ul> <!-- button for navi -->
                    <li><img src="../images/icons/Menu_Icon_3.png" onclick="openNav()" class="menu-button"></li>
                </ul>
            </div>

            <div id="navigation2">
                    <ul>
                        <a href="#">Home</a>
                        <a href="#basics-h2">Basics</a>
                        <a href="#about-h2">About</a>
                        <a href="#contact-text">Contact</a>
                    </ul>
            </div>
        
        </header>

            <div class="customer-info">
                <p>Welcome to the Customer side of My Simple Home Business! Here we will give a brief overview of the benefits of being a Preferred Customer of the company that we represent. Unfortunately, due to legal and marketing restrictions, we cannot go into detail about the company itself on this site. However, we would love to schedule a webinar or in home meeting to do so at your earliest convenience!</p>
            </div>

            <div class="customer-bullets">
                <ul class="list 1">
                    <li>All natural products</li>
                    <li>Safe for your home and the environment</li>
                    <li></li>
                </ul>
                <ul class="list 2">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="list 3">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>


        <footer>
            <ul class="SM-2">
                <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo-f"></a></li>
                <li><a href="#"><img src="../images/icons/red-twitter.png" class="T-logo-f"></a></li>
                <li><a href="#"><img src="../images/icons/instagram-red.png" class="I-logo-f"></a></li>
            </ul>
        </footer>

    </div>
    <script src="../js/sidenav.js"></script>
</body>
</html>