<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- STYLESHEET LINKS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/sidenav.css">

        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Love+Ya+Like+A+Sister" rel="stylesheet">


    <!-- PAGE TITLE -->
    <title>My Simple Home Business | Work From Home</title>

</head>
<body>
    <!-- Slide out Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" class="glow">Home</a>
        <a href="#basics-h2" class="glow">Basics</a>
        <a href="#about-h2" class="glow">About</a>
        <a href="#contact-h2" class="glow">Contact</a>
        <!--<a href="#">Reviews</a>-->
        <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">Blog</a>
        <a href="/views/resources.html" class="glow">Team Resources</a>
        <ul class="SM">
            <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo"></a></li>
            <li><a href="#"><img src="/images/icons/red-twitter.png" class="T-logo"></a></li>
            <li><a href="#"><img src="/images/icons/instagram-red.png" class="I-logo"></a></li>
        </ul>
    </div>

    <!-- Use any element to open the sidenav
   <span onclick="openNav()">open</span> -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <header class="main-header">

            <div class="navigation"> <!-- Slide out Navi Access -->
                <ul> <!-- button for navi -->
                    <li><img src="images/icons/Menu_Icon_3.png" onclick="openNav()" class="menu-button"></li>
                    <li><p class="mshb-font" id="menu">MENU</p></li>
                </ul>
            </div>

            <div id="navigation2">
                    <ul>
                        <a href="../index.html" class="glow">Home</a>
                        <a href="../index.html?#basics-h2" class="glow">Basics</a>
                        <a href="../index.html?#about-h2" class="glow">About</a>
                        <a href="../index.html?#contact-h2" class="glow">Contact</a>
                        <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">Blog</a>
                        <a href="/views/resources.html" class="glow">Team Resources</a>
                    </ul>
            </div>

            <!-- TEAM RESOURCES PAGE CONTENT -->


            <footer>
                <ul class="SM-2">
                    <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo-f"></a></li>
                    <li><a href="#"><img src="/images/icons/red-twitter.png" class="T-logo-f"></a></li>
                    <li><a href="#"><img src="/images/icons/instagram-red.png" class="I-logo-f"></a></li>
                </ul>
    
                <div>
                    <p class="copyright">&copy; 2017 -- Ryan Kramer Designs</p>
                </div>
                
            </footer>
    
        </div>
        <script src="js/sidenav.js"></script>
    </body>
    </html>