<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- STYLESHEET LINKS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sidenav.css">

        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Love+Ya+Like+A+Sister" rel="stylesheet">


    <!-- PAGE TITLE -->
    <title>My Simple Home Business | Team Resources</title>

</head>
<body>
    <!-- Slide out Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" class="glow">Home</a>
        <a href="../#basics-h2" class="glow">Basics</a>
        <a href="../#about-h2" class="glow">About</a>
        <a href="../#contact-h2" class="glow">Contact</a>
        <!--<a href="#">Reviews</a>-->
        <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">Blog</a>
        <a href="../views/resources.html" class="glow">Team Resources</a>
        <ul class="SM">
            <li><a href="https://www.facebook.com/mysimplehomebusiness/"><img src="../images/icons/facebook-red.png" class="FB-logo"></a></li>
            <li><a href="#"><img src="../images/icons/media.png" class="YT-logo"></a></li>
            <li><a href="#"><img src="../images/icons/instagram-red.png" class="I-logo"></a></li>
        </ul>
    </div>

    <!-- Use any element to open the sidenav
   <span onclick="openNav()">open</span> -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <header>

            <div class="navigation"> <!-- Slide out Navi Access -->
                <ul> <!-- button for navi -->
                    <li><img src="../images/icons/Menu_Icon_3.png" onclick="openNav()" class="menu-button"></li>
                    <li><p class="mshb-font" id="menu">MENU</p></li>
                </ul>
            </div>

            <div id="navigation2">
                    <ul>
                        <a href="../index.html?#basics-h2">Basics</a>
                        <a href="../index.html?#about-h2">About</a>
                        <a href="../index.html?#contact-h2">Contact</a>
                        <a href="https://mysimplehomebusiness.wordpress.com/blog/">Blog</a>
                        <a href="../views/resources.html">Resources</a>
                    </ul>
            </div>

            <!-- TEAM RESOURCES PAGE CONTENT -->
            <div class="resources-header">
                <h2 class="mshb-font resources-h2">TEAM RESOURCES</h2>
            </div>

            <div class="resources-info">
                <div class="resources-intro">
                    <p>Congratulations on joining the My Simple Home Business Team! We know that with the right tools and encouragement, you will thrive and achieve every one of your goals. 
                        
                    <p>We often post tricks, tips, and tools through our <a href="https://mysimplehomebusiness.wordpress.com/blog/" class="glow">blog</a> and our <a href="https://www.facebook.com/mysimplehomebusiness/" class="glow">Facebook group</a> and we encourage you to take advantage those whenever possible.</p>  
                    
                    <p>As always, we encourage questions and look forward to working with you! Congratulations again!</p>
                </div>
            </div>

            <div class="above-mats">
                <p class="above-content">Below you will find some marketing resources available for purchase at a discounted price. We have found great success with them and wanted to pass them along.</p>
            </div>

            <div id="marketing-mats-section">

                <div>
                    <img src="../images/poisonCardFull.jpg" class="poison-card-img">
                    <div class="poison-card-section">
                        <p class="poison-content">The card design with the child was created to market to young families.</p>
                    </div>
                </div>

                <div>
                    <img src="../images/peakCard.jpg" class="peak-card-img">
                    <div class="peak-card-section">
                        <p class="peak-content">The card design with peak performance was created with the idea of attracting people looking for health supplements.</p>
                    </div>
                </div>

            </div>

            <div class="echor-pitch">
                    <p class="echor-content">I also design and build websites, and even have some pre-built options available for purchase! Check our your options at <a href="http://www.echordigitalsolutions.com" class="glow">Echor Digital Solutions!</a></p>

            </div>

            <div class="resources-header"></div>

            <footer>

                <ul class="SM-bottom">
                    <a href="https://www.facebook.com/mysimplehomebusiness/"><img src="/images/icons/facebook-red.png" class="FB-logo-b"></a>
                    <a href="#"><img src="../images/icons/media.png" class="YT-logo-b"></a>
                    <a href="#"><img src="../images/icons/instagram-red.png" class="I-logo-b"></a>
                </ul>
    
                <div>
                    <p class="copyright">&copy; 2017 -- Echor Digital Solutions</p>
                </div>
                
            </footer>
    
        </div>
        <script src="../js/sidenav.js"></script>
    </body>
    </html>